### Load The necessary library

In [1]:
library(tidyverse)
library(stringr)
library(dplyr)

-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.6     v purrr   0.3.4
v tibble  3.1.7     v dplyr   1.0.9
v tidyr   1.2.0     v stringr 1.4.0
v readr   2.1.2     v forcats 0.5.1

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

### Check the structure of each dataset

In [2]:
dataset_list<-c('raw_bike_sharing_system.csv','raw_cities_weather_forecast.csv','raw_worldcities.csv','raw_seoul_bike_sharing.csv')

In [3]:
for(dataset_names in dataset_list){
    datasets<-read.csv(dataset_names)
    print(str(datasets))
}

'data.frame':	520 obs. of  10 variables:
 $ COUNTRY        : chr  "Albania" "Argentina" "Argentina" "Argentina" ...
 $ CITY           : chr  "Tirana[5]" "Buenos Aires[6][7]" "Mendoza[10]" "Rosario" ...
 $ NAME           : chr  "Ecovolis" "Ecobici" "Metrobici" "Mi Bici Tu Bici[11]" ...
 $ SYSTEM         : chr  "" "Serttel Brasil[8]" "" "" ...
 $ OPERATOR       : chr  "" "Bike In Baires Consortium.[9]" "" "" ...
 $ LAUNCHED       : chr  "March 2011" "2010" "2014" "2 December 2015" ...
 $ DISCONTINUED   : chr  "" "" "" "" ...
 $ STATIONS       : chr  "8" "400" "2" "47" ...
 $ BICYCLES       : chr  "200" "4000" "40" "480" ...
 $ DAILY_RIDERSHIP: chr  "" "21917" "" "" ...
NULL
'data.frame':	800 obs. of  11 variables:
 $ CITY      : chr  "Seoul" "Washington" "D.C." "Paris" ...
 $ WEATHER   : chr  "Clear" "Clear" "Clear" "Clear" ...
 $ VISIBILITY: int  10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 ...
 $ TEMP      : num  23.7 22.9 21.5 25.7 30.1 ...
 $ TEMP_MIN  : num  23.3 22.3 21.5 25.7 30.1 ...
 $ TEMP_MAX  : num  23.7 22.9 21.5 25.7 30.1 ...
 $ PRESSURE  : int  1005 1006 1007 1007 1006 1005 1005 1007 1007 1007 ...
 $ HUMIDITY  : int  82 83 84 65 54 52 64 73 79 83 ...
 $ WIND_SPEED: num  0.72 0.59 0.61 0.97 1.24 2.74 2.57 1.28 0.88 0.64 ...
 $ WIND_DEG  : int  169 94 78 100 189 259 276 241 226 164 ...
 $ FORECAST  : chr  "2022-08-16 15:00:00" "2022-08-16 18:00:00" "2022-08-16 21:00:00" "2022-08-17 00:00:00" ...
NULL
'data.frame':	26569 obs. of  11 variables:
 $ CITY      : chr  "Tokyo" "Jakarta" "Delhi" "Mumbai" ...
 $ CITY_ASCII: chr  "Tokyo" "Jakarta" "Delhi" "Mumbai" ...
 $ LAT       : num  35.69 -6.21 28.66 18.97 14.6 ...
 $ LNG       : num  139.7 106.8 77.2 72.8 121 ...
 $ COUNTRY   : chr  "Japan" "Indonesia" "India" "India" ...
 $ ISO2      : chr  "JP" "ID" "IN" "IN" ...
 $ ISO3      : chr  "JPN" "IDN" "IND" "IND" ...
 $ ADMIN_NAME: chr  "TÅ\215kyÅ\215" "Jakarta" "Delhi" "MahÄ\201rÄ\201shtra" ...
 $ CAPITAL   : chr  "primary" "primary" "admin" "admin" ...
 $ POPULATION: num  37977000 34540000 29617000 23355000 23088000 ...
 $ ID        : num  1.39e+09 1.36e+09 1.36e+09 1.36e+09 1.61e+09 ...
NULL
'data.frame':	8760 obs. of  14 variables:
 $ DATE                 : chr  "01/12/2017" "01/12/2017" "01/12/2017" "01/12/2017" ...
 $ RENTED_BIKE_COUNT    : int  254 204 173 107 78 100 181 460 930 490 ...
 $ HOUR                 : int  0 1 2 3 4 5 6 7 8 9 ...
 $ TEMPERATURE          : num  -5.2 -5.5 -6 -6.2 -6 -6.4 -6.6 -7.4 -7.6 -6.5 ...
 $ HUMIDITY             : int  37 38 39 40 36 37 35 38 37 27 ...
 $ WIND_SPEED           : num  2.2 0.8 1 0.9 2.3 1.5 1.3 0.9 1.1 0.5 ...
 $ VISIBILITY           : int  2000 2000 2000 2000 2000 2000 2000 2000 2000 1928 ...
 $ DEW_POINT_TEMPERATURE: num  -17.6 -17.6 -17.7 -17.6 -18.6 -18.7 -19.5 -19.3 -19.8 -22.4 ...
 $ SOLAR_RADIATION      : num  0 0 0 0 0 0 0 0 0.01 0.23 ...
 $ RAINFALL             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ SNOWFALL             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ SEASONS              : chr  "Winter" "Winter" "Winter" "Winter" ...
 $ HOLIDAY              : chr  "No Holiday" "No Holiday" "No Holiday" "No Holiday" ...
 $ FUNCTIONING_DAY      : chr  "Yes" "Yes" "Yes" "Yes" ...
NULL

### Convert all the dataset collumn name into uppercase and replace dot symbol with underscore

In [4]:
for(dataset_name in dataset_list){
    dataset <- read.csv(dataset_name)
    names(dataset)<- toupper(names(dataset))
    names(dataset)<-str_replace_all(names(dataset),"[.]","_")
    write.csv(dataset,dataset_name,row.names=FALSE)
    print(str(dataset))
    }

'data.frame':	520 obs. of  10 variables:
 $ COUNTRY        : chr  "Albania" "Argentina" "Argentina" "Argentina" ...
 $ CITY           : chr  "Tirana[5]" "Buenos Aires[6][7]" "Mendoza[10]" "Rosario" ...
 $ NAME           : chr  "Ecovolis" "Ecobici" "Metrobici" "Mi Bici Tu Bici[11]" ...
 $ SYSTEM         : chr  "" "Serttel Brasil[8]" "" "" ...
 $ OPERATOR       : chr  "" "Bike In Baires Consortium.[9]" "" "" ...
 $ LAUNCHED       : chr  "March 2011" "2010" "2014" "2 December 2015" ...
 $ DISCONTINUED   : chr  "" "" "" "" ...
 $ STATIONS       : chr  "8" "400" "2" "47" ...
 $ BICYCLES       : chr  "200" "4000" "40" "480" ...
 $ DAILY_RIDERSHIP: chr  "" "21917" "" "" ...
NULL
'data.frame':	800 obs. of  11 variables:
 $ CITY      : chr  "Seoul" "Washington" "D.C." "Paris" ...
 $ WEATHER   : chr  "Clear" "Clear" "Clear" "Clear" ...
 $ VISIBILITY: int  10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 ...
 $ TEMP      : num  23.7 22.9 21.5 25.7 30.1 ...
 $ TEMP_MIN  : num  23.3 22.3 21.5 25.7 30.1 ...
 $ TEMP_MAX  : num  23.7 22.9 21.5 25.7 30.1 ...
 $ PRESSURE  : int  1005 1006 1007 1007 1006 1005 1005 1007 1007 1007 ...
 $ HUMIDITY  : int  82 83 84 65 54 52 64 73 79 83 ...
 $ WIND_SPEED: num  0.72 0.59 0.61 0.97 1.24 2.74 2.57 1.28 0.88 0.64 ...
 $ WIND_DEG  : int  169 94 78 100 189 259 276 241 226 164 ...
 $ FORECAST  : chr  "2022-08-16 15:00:00" "2022-08-16 18:00:00" "2022-08-16 21:00:00" "2022-08-17 00:00:00" ...
NULL
'data.frame':	26569 obs. of  11 variables:
 $ CITY      : chr  "Tokyo" "Jakarta" "Delhi" "Mumbai" ...
 $ CITY_ASCII: chr  "Tokyo" "Jakarta" "Delhi" "Mumbai" ...
 $ LAT       : num  35.69 -6.21 28.66 18.97 14.6 ...
 $ LNG       : num  139.7 106.8 77.2 72.8 121 ...
 $ COUNTRY   : chr  "Japan" "Indonesia" "India" "India" ...
 $ ISO2      : chr  "JP" "ID" "IN" "IN" ...
 $ ISO3      : chr  "JPN" "IDN" "IND" "IND" ...
 $ ADMIN_NAME: chr  "TÅ\215kyÅ\215" "Jakarta" "Delhi" "MahÄ\201rÄ\201shtra" ...
 $ CAPITAL   : chr  "primary" "primary" "admin" "admin" ...
 $ POPULATION: num  37977000 34540000 29617000 23355000 23088000 ...
 $ ID        : num  1.39e+09 1.36e+09 1.36e+09 1.36e+09 1.61e+09 ...
NULL
'data.frame':	8760 obs. of  14 variables:
 $ DATE                 : chr  "01/12/2017" "01/12/2017" "01/12/2017" "01/12/2017" ...
 $ RENTED_BIKE_COUNT    : int  254 204 173 107 78 100 181 460 930 490 ...
 $ HOUR                 : int  0 1 2 3 4 5 6 7 8 9 ...
 $ TEMPERATURE          : num  -5.2 -5.5 -6 -6.2 -6 -6.4 -6.6 -7.4 -7.6 -6.5 ...
 $ HUMIDITY             : int  37 38 39 40 36 37 35 38 37 27 ...
 $ WIND_SPEED           : num  2.2 0.8 1 0.9 2.3 1.5 1.3 0.9 1.1 0.5 ...
 $ VISIBILITY           : int  2000 2000 2000 2000 2000 2000 2000 2000 2000 1928 ...
 $ DEW_POINT_TEMPERATURE: num  -17.6 -17.6 -17.7 -17.6 -18.6 -18.7 -19.5 -19.3 -19.8 -22.4 ...
 $ SOLAR_RADIATION      : num  0 0 0 0 0 0 0 0 0.01 0.23 ...
 $ RAINFALL             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ SNOWFALL             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ SEASONS              : chr  "Winter" "Winter" "Winter" "Winter" ...
 $ HOLIDAY              : chr  "No Holiday" "No Holiday" "No Holiday" "No Holiday" ...
 $ FUNCTIONING_DAY      : chr  "Yes" "Yes" "Yes" "Yes" ...
NULL

### load the bike sharing system dataset

In [5]:
bike_sharing_df <- read.csv("raw_bike_sharing_system.csv")
head(bike_sharing_df,10)

   COUNTRY   CITY                  NAME                 SYSTEM
1  Albania   Tirana[5]             Ecovolis
2  Argentina Buenos Aires[6][7]    Ecobici              Serttel Brasil[8]
3  Argentina Mendoza[10]           Metrobici
4  Argentina Rosario               Mi Bici Tu Bici[11]
5  Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
6  Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
7  Australia Melbourne[12]         oBike                4 Gen. oBike
8  Australia Brisbane[14][15]      CityCycle            3 Gen. Cyclocity
9  Australia Sydney                oBike                4 Gen. oBike
10 Australia Sydney                Ofo                  4 Gen. Ofo
   OPERATOR                      LAUNCHED         DISCONTINUED         STATIONS
1                                March 2011                            8
2  Bike In Baires Consortium.[9] 2010                                  400
3                                2014                                  2
4                                2 December 2015                       47
5                                27 November 2016                      8
6  Motivate                      June 2010        30 November 2019[13] 53
7                                July 2017        July 2018            dockless
8  JCDecaux                      September 2010                        150
9                                July 2017        July 2018            dockless
10                               October 2017                          dockless
   BICYCLES DAILY_RIDERSHIP
1  200
2  4000     21917
3  40
4  480
5  80
6  676
7  1250
8  2000
9  1250
10 600

## Check every collumn for reference link ([9])

In [6]:
find_reference <- function(strings) grepl("\\[[A-z0-9]+\\]", strings)
a<-bike_sharing_df %>% select(COUNTRY) %>% filter(find_reference(COUNTRY)) %>% slice(0:5)
b<-bike_sharing_df %>% select(CITY) %>% filter(find_reference(CITY)) %>% slice(0:5)
c<-bike_sharing_df %>% select(NAME) %>% filter(find_reference(NAME)) %>% slice(0:5)
d<-bike_sharing_df %>% select(SYSTEM) %>% filter(find_reference(SYSTEM)) %>% slice(0:5)
e<-bike_sharing_df %>% select(OPERATOR) %>% filter(find_reference(OPERATOR)) %>% slice(0:5)
f<-bike_sharing_df %>% select(LAUNCHED) %>% filter(find_reference(LAUNCHED)) %>% slice(0:5)
g<-bike_sharing_df %>% select(DISCONTINUED) %>% filter(find_reference(DISCONTINUED)) %>% slice(0:5)
h<-bike_sharing_df %>% select(STATIONS) %>% filter(find_reference(STATIONS)) %>% slice(0:5)
i<-bike_sharing_df %>% select(BICYCLES) %>% filter(find_reference(BICYCLES)) %>% slice(0:5)
j<-bike_sharing_df %>% select(DAILY_RIDERSHIP) %>% filter(find_reference(DAILY_RIDERSHIP)) %>% slice(0:5)
a
combined<- data.frame(b,c,d,e,f,g,h,i,j)
combined

     COUNTRY

  CITY               NAME                SYSTEM
1 Tirana[5]          Mi Bici Tu Bici[11] Serttel Brasil[8]
2 Buenos Aires[6][7] Citybike Wien[17]   EasyBike[64]
3 Mendoza[10]        Velo Antwerp[22]    4 Gen.[72]
4 Melbourne[12]      Rekola[95]          3 Gen. SmooveKey[120]
5 Melbourne[12]      BatumVelo[119]      3 Gen. Smoove[147][148][149][145]
  OPERATOR                                   LAUNCHED
1 Bike In Baires Consortium.[9]              2014  [66]
2 The Metropolitan Area of Aburra Valley[59] 2015  [67]
3 Smovengo[113]                              2018  [68]
4 Batumi Avtotransporti[121]                 2015  [69]
5 Freie Lastenräder [127]                    2017  [70]
  DISCONTINUED
1 30 November 2019[13]
2 2020[41]
3 2020[77]
4 October 2012  [85][86][87] Copenhagen municipality changed its mind and a new version was introduced in late 2013.[88]
5 2010  [93]
  STATIONS             BICYCLES
1 70 (2021)[20]        1790 (2019)[21]
2 24[121]              4115[25]
3 15 & dockless  [130] 7270 (regular)  2395 (electric)[38]
4 320[179]             310[65]
5 dockless[210]        500[75]
  DAILY_RIDERSHIP
1 2800[18]
2 7010[23]
3 4,700[74][non-primary source needed]
4 376[97]
5 380[97]

In [16]:
remove_ref <- function(strings){
results<-str_replace_all(strings,"\\[[\\w]+\\]"," ")    
}
cleaned_df<-bike_sharing_df %>% 
mutate(CITY=remove_ref(CITY), NAME=remove_ref(NAME), SYSTEM=remove_ref(SYSTEM), OPERATOR=remove_ref(OPERATOR),
LAUNCHED=remove_ref(LAUNCHED), DISCONTINUED=remove_ref(DISCONTINUED), STATIONS=remove_ref(STATIONS), BICYCLES=remove_ref(BICYCLES),DAILY_RIDERSHIP
=remove_ref(DAILY_RIDERSHIP))

In [19]:
cleaned_df %>%
    #select(CITY,NAME,SYSTEM,OPERATOR,LAUNCHED,DISCONTINUED,STATIONS,BICYCLES,DAILY_RIDERSHIP) %>%
    filter(find_reference(CITY) | find_reference(NAME) | find_reference(SYSTEM) | find_reference(OPERATOR) |
           find_reference(LAUNCHED) | find_reference(DISCONTINUED) | find_reference(STATIONS) | find_reference(BICYCLES) | find_reference(DAILY_RIDERSHIP) )

     COUNTRY CITY NAME SYSTEM OPERATOR LAUNCHED DISCONTINUED STATIONS BICYCLES
     DAILY_RIDERSHIP

In [17]:
extract_num<-function(columns){
    extract <- str_extract(columns,"[0-9]+")
    extracted_value<-as.numeric(extract)
    return(extracted_value)
}
final_result<-cleaned_df %>% mutate(BICYCLES=extract_num(BICYCLES))

In [20]:
find_character <- function(strings) grepl("[^0-9]",strings)
final_result %>%
    select(BICYCLES) %>%
        filter(find_character(BICYCLES))

     BICYCLES

In [21]:
write.csv(final_result,"bike_sharing_system.csv",row.names=FALSE)