In [3]:
library(dplyr)
library(tidyverse)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.6     v purrr   0.3.4
v tibble  3.1.7     v stringr 1.4.0
v tidyr   1.2.0     v forcats 0.5.1
v readr   2.1.2

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [144]:
#load the seoul_bike_sharing.csv
seoul_bike<-read_csv("seoul_bike_sharing.csv")
# convert date collumn as date
date_format<-function(x){
    return(as.Date(seoul_bike$DATE,format='%d/%m/%Y'))}
seoul_bike_sharing<-seoul_bike %>% mutate(DATE=date_format(DATE))
summary(seoul_bike_sharing)

Rows: 8760 Columns: 14
-- Column specification --------------------------------------------------------
Delimiter: ","
chr   (3): SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl  (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIB...
date  (1): DATE

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

      DATE            RENTED_BIKE_COUNT      HOUR        TEMPERATURE
 Min.   :2017-12-01   Min.   :   2.0    Min.   : 0.00   Min.   :-17.80
 1st Qu.:2018-03-02   1st Qu.: 214.0    1st Qu.: 5.75   1st Qu.:  3.40
 Median :2018-06-01   Median : 542.0    Median :11.50   Median : 13.70
 Mean   :2018-06-01   Mean   : 729.2    Mean   :11.50   Mean   : 12.87
 3rd Qu.:2018-08-31   3rd Qu.:1084.0    3rd Qu.:17.25   3rd Qu.: 22.50
 Max.   :2018-11-30   Max.   :3556.0    Max.   :23.00   Max.   : 39.40
                      NA's   :295                       NA's   :11
    HUMIDITY       WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE
 Min.   : 0.00   Min.   :0.000   Min.   :  27   Min.   :-30.600
 1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 940   1st Qu.: -4.700
 Median :57.00   Median :1.500   Median :1698   Median :  5.100
 Mean   :58.23   Mean   :1.725   Mean   :1437   Mean   :  4.074
 3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 14.800
 Max.   :98.00   Max.   :7.400   Max.   :2000   Max.   : 27.200

 SOLAR_RADIATION     RAINFALL          SNOWFALL         SEASONS
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000   Length:8760
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000   Class :character
 Median :0.0100   Median : 0.0000   Median :0.00000   Mode  :character
 Mean   :0.5691   Mean   : 0.1487   Mean   :0.07507
 3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   :3.5200   Max.   :35.0000   Max.   :8.80000

   HOLIDAY          FUNCTIONING_DAY
 Length:8760        Length:8760
 Class :character   Class :character
 Mode  :character   Mode  :character

### Drop the RENTED_BIKE_COUNT collumn

In [145]:
#drop the na rows in RENTED_BIKE_COUNT collumn
cleaned_bike_sharing<-seoul_bike_sharing %>% drop_na(RENTED_BIKE_COUNT)
#check if the na collumn still exist in the RENTED_BIKE_COUNT collumn
summary(cleaned_bike_sharing)

      DATE            RENTED_BIKE_COUNT      HOUR        TEMPERATURE
 Min.   :2017-12-01   Min.   :   2.0    Min.   : 0.00   Min.   :-17.80
 1st Qu.:2018-02-27   1st Qu.: 214.0    1st Qu.: 6.00   1st Qu.:  3.00
 Median :2018-05-28   Median : 542.0    Median :12.00   Median : 13.40
 Mean   :2018-05-28   Mean   : 729.2    Mean   :11.51   Mean   : 12.75
 3rd Qu.:2018-08-24   3rd Qu.:1084.0    3rd Qu.:18.00   3rd Qu.: 22.60
 Max.   :2018-11-30   Max.   :3556.0    Max.   :23.00   Max.   : 39.40
                                                        NA's   :11
    HUMIDITY       WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE
 Min.   : 0.00   Min.   :0.000   Min.   :  27   Min.   :-30.600
 1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 935   1st Qu.: -5.100
 Median :57.00   Median :1.500   Median :1690   Median :  4.700
 Mean   :58.15   Mean   :1.726   Mean   :1434   Mean   :  3.945
 3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 15.200
 Max.   :98.00   Max.   :7.400   Max.   :2000   Max.   : 27.200

 SOLAR_RADIATION     RAINFALL          SNOWFALL         SEASONS
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000   Length:8465
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000   Class :character
 Median :0.0100   Median : 0.0000   Median :0.00000   Mode  :character
 Mean   :0.5679   Mean   : 0.1491   Mean   :0.07769
 3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   :3.5200   Max.   :35.0000   Max.   :8.80000

   HOLIDAY          FUNCTIONING_DAY
 Length:8465        Length:8465
 Class :character   Class :character
 Mode  :character   Mode  :character

### Handle the missing values in TEMPERATURE collumn

In [146]:
#check the missing values in TEMPERATURE collumn
cleaned_bike_sharing %>% 
                filter(is.na(TEMPERATURE))

   DATE       RENTED_BIKE_COUNT HOUR TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
1  2018-06-07 3221              18   NA          57       2.7        1217
2  2018-06-12 1246              14   NA          45       2.2        1961
3  2018-06-13 2664              17   NA          57       3.3         919
4  2018-06-17 2330              17   NA          58       3.3         865
5  2018-06-20 2741              19   NA          61       2.7        1236
6  2018-06-30 1144              13   NA          87       1.7         390
7  2018-07-05  827              10   NA          75       1.1        1028
8  2018-07-11  634               9   NA          96       0.6         450
9  2018-07-12  593               6   NA          93       1.1         852
10 2018-07-21  347               4   NA          77       1.2        1203
11 2018-08-21 1277              23   NA          75       0.1        1892
   DEW_POINT_TEMPERATURE SOLAR_RADIATION RAINFALL SNOWFALL SEASONS HOLIDAY
1  16.4                  0.96            0.0      0        Summer  No Holiday
2  12.7                  1.39            0.0      0        Summer  No Holiday
3  16.4                  0.87            0.0      0        Summer  No Holiday
4  16.7                  0.66            0.0      0        Summer  No Holiday
5  17.5                  0.60            0.0      0        Summer  No Holiday
6  23.2                  0.71            3.5      0        Summer  No Holiday
7  20.8                  1.22            0.0      0        Summer  No Holiday
8  24.9                  0.41            0.0      0        Summer  No Holiday
9  24.3                  0.01            0.0      0        Summer  No Holiday
10 21.2                  0.00            0.0      0        Summer  No Holiday
11 20.8                  0.00            0.0      0        Summer  No Holiday
   FUNCTIONING_DAY
1  Yes
2  Yes
3  Yes
4  Yes
5  Yes
6  Yes
7  Yes
8  Yes
9  Yes
10 Yes
11 Yes

In [147]:
#get the average temperature when its summer to replace the missing values in TEMPERATURE Collumn
avgt<-mean(cleaned_bike_sharing$TEMPERATURE [cleaned_bike_sharing$SEASONS == "Summer"],na.rm=TRUE)
avg_temperature<-format(round(avgt,1))
avg_temperature

[1] "26.6"

In [148]:
#replace the missing values in temperature collumn with average temperature when its summer
cleaner_bike_sharing<-cleaned_bike_sharing %>% replace_na(list(TEMPERATURE = 26.6))
#check if there still missing value in temperature collumn
summary(cleaner_bike_sharing)

      DATE            RENTED_BIKE_COUNT      HOUR        TEMPERATURE
 Min.   :2017-12-01   Min.   :   2.0    Min.   : 0.00   Min.   :-17.80
 1st Qu.:2018-02-27   1st Qu.: 214.0    1st Qu.: 6.00   1st Qu.:  3.00
 Median :2018-05-28   Median : 542.0    Median :12.00   Median : 13.50
 Mean   :2018-05-28   Mean   : 729.2    Mean   :11.51   Mean   : 12.77
 3rd Qu.:2018-08-24   3rd Qu.:1084.0    3rd Qu.:18.00   3rd Qu.: 22.70
 Max.   :2018-11-30   Max.   :3556.0    Max.   :23.00   Max.   : 39.40
    HUMIDITY       WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE
 Min.   : 0.00   Min.   :0.000   Min.   :  27   Min.   :-30.600
 1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 935   1st Qu.: -5.100
 Median :57.00   Median :1.500   Median :1690   Median :  4.700
 Mean   :58.15   Mean   :1.726   Mean   :1434   Mean   :  3.945
 3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 15.200
 Max.   :98.00   Max.   :7.400   Max.   :2000   Max.   : 27.200
 SOLAR_RADIATION     RAINFALL          SNOWFALL         SEASONS
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000   Length:8465
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000   Class :character
 Median :0.0100   Median : 0.0000   Median :0.00000   Mode  :character
 Mean   :0.5679   Mean   : 0.1491   Mean   :0.07769
 3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   :3.5200   Max.   :35.0000   Max.   :8.80000
   HOLIDAY          FUNCTIONING_DAY
 Length:8465        Length:8465
 Class :character   Class :character
 Mode  :character   Mode  :character

In [150]:
# convert the HOUR collumn into character
converted_df<-cleaner_bike_sharing %>% mutate(HOUR = as.character(HOUR))
write_csv(converted_df,"seoul_bike_sharing.csv")

### Create Indicator Collumn

In [141]:
# Convert SEASONS, HOLIDAY, FUNCTIONING_DAY, and HOUR columns into indicator columns.
df1<-converted_df %>%
mutate(dummy= 1) %>%
spread(key=HOUR,
        value= dummy,
         fill= 0)

#
write.csv(df1,"seoul_bike_sharing_for_eda.csv")

df2<-df1 %>%
mutate(dummy=1)%>%
spread(key=HOLIDAY,
        value= dummy,
         fill= 0)
dummy_df<-df2  %>%
mutate(dummy= 1) %>%
spread(key=SEASONS,
        value= dummy,
         fill= 0)

# print the summary to make sure the indicator collumn created properly
summary(dummy_df)

      DATE            RENTED_BIKE_COUNT  TEMPERATURE        HUMIDITY
 Min.   :2017-12-01   Min.   :   2.0    Min.   :-17.80   Min.   : 0.00
 1st Qu.:2018-02-27   1st Qu.: 214.0    1st Qu.:  3.00   1st Qu.:42.00
 Median :2018-05-28   Median : 542.0    Median : 13.50   Median :57.00
 Mean   :2018-05-28   Mean   : 729.2    Mean   : 12.77   Mean   :58.15
 3rd Qu.:2018-08-24   3rd Qu.:1084.0    3rd Qu.: 22.70   3rd Qu.:74.00
 Max.   :2018-11-30   Max.   :3556.0    Max.   : 39.40   Max.   :98.00
   WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE SOLAR_RADIATION
 Min.   :0.000   Min.   :  27   Min.   :-30.600       Min.   :0.0000
 1st Qu.:0.900   1st Qu.: 935   1st Qu.: -5.100       1st Qu.:0.0000
 Median :1.500   Median :1690   Median :  4.700       Median :0.0100
 Mean   :1.726   Mean   :1434   Mean   :  3.945       Mean   :0.5679
 3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 15.200       3rd Qu.:0.9300
 Max.   :7.400   Max.   :2000   Max.   : 27.200       Max.   :3.5200
    RAINFALL          SNOWFALL       FUNCTIONING_DAY          0
 Min.   : 0.0000   Min.   :0.00000   Length:8465        Min.   :0.00000
 1st Qu.: 0.0000   1st Qu.:0.00000   Class :character   1st Qu.:0.00000
 Median : 0.0000   Median :0.00000   Mode  :character   Median :0.00000
 Mean   : 0.1491   Mean   :0.07769                      Mean   :0.04158
 3rd Qu.: 0.0000   3rd Qu.:0.00000                      3rd Qu.:0.00000
 Max.   :35.0000   Max.   :8.80000                      Max.   :1.00000
       1                 10               11               12
 Min.   :0.00000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.00000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.04158   Mean   :0.0417   Mean   :0.0417   Mean   :0.0417
 3rd Qu.:0.00000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.00000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
       13               14               15               16
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.0417   Mean   :0.0417   Mean   :0.0417   Mean   :0.0417
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
       17               18               19               2
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.00000
 Mean   :0.0417   Mean   :0.0417   Mean   :0.0417   Mean   :0.04158
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.00000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.00000
       20               21               22               23
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.0417   Mean   :0.0417   Mean   :0.0417   Mean   :0.0417
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
       3                 4                 5                 6
 Min.   :0.00000   Min.   :0.00000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.00000   Median :0.00000   Median :0.00000   Median :0.00000
 Mean   :0.04158   Mean   :0.04158   Mean   :0.04158   Mean   :0.04158
 3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.00000   Max.   :1.00000   Max.   :1.00000
       7                8                9             Holiday
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.0417   Mean   :0.0417   Mean   :0.0417   Mean   :0.0482
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
   No Holiday         Autumn           Spring           Summer
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:1.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :1.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.9518   Mean   :0.2288   Mean   :0.2552   Mean   :0.2608
 3rd Qu.:1.0000   3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
     Winter
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.2552
 3rd Qu.:1.0000
 Max.   :1.0000

In [126]:
write_csv(dummy_df,"seoul_bike_sharing_converted.csv")

### Normalize data

In [127]:
# min max normalization Function
min_max<-function(x){
    return((x-min(x))/(max(x)-min(x)))
    }
# normalized the data in some of the collumn
normalized_dummy<-dummy_df %>% mutate(TEMPERATURE=min_max(TEMPERATURE),
                          HUMIDITY=min_max(HUMIDITY),
                          WIND_SPEED=min_max(WIND_SPEED),
                          VISIBILITY=min_max(VISIBILITY),
                          DEW_POINT_TEMPERATURE=min_max(DEW_POINT_TEMPERATURE),
                          SOLAR_RADIATION=min_max(SOLAR_RADIATION),
                          RAINFALL=min_max(RAINFALL),
                          SNOWFALL=min_max(SNOWFALL)) 

summary(normalized_dummy)

      DATE            RENTED_BIKE_COUNT  TEMPERATURE        HUMIDITY
 Min.   :2017-12-01   Min.   :   2.0    Min.   :0.0000   Min.   :0.0000
 1st Qu.:2018-02-27   1st Qu.: 214.0    1st Qu.:0.3636   1st Qu.:0.4286
 Median :2018-05-28   Median : 542.0    Median :0.5472   Median :0.5816
 Mean   :2018-05-28   Mean   : 729.2    Mean   :0.5345   Mean   :0.5933
 3rd Qu.:2018-08-24   3rd Qu.:1084.0    3rd Qu.:0.7080   3rd Qu.:0.7551
 Max.   :2018-11-30   Max.   :3556.0    Max.   :1.0000   Max.   :1.0000
   WIND_SPEED       VISIBILITY     DEW_POINT_TEMPERATURE SOLAR_RADIATION
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000        Min.   :0.000000
 1st Qu.:0.1216   1st Qu.:0.4602   1st Qu.:0.4412        1st Qu.:0.000000
 Median :0.2027   Median :0.8429   Median :0.6107        Median :0.002841
 Mean   :0.2332   Mean   :0.7131   Mean   :0.5977        Mean   :0.161326
 3rd Qu.:0.3108   3rd Qu.:1.0000   3rd Qu.:0.7924        3rd Qu.:0.264205
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000        Max.   :1.000000
    RAINFALL           SNOWFALL        FUNCTIONING_DAY        Autumn
 Min.   :0.000000   Min.   :0.000000   Length:8465        Min.   :0.0000
 1st Qu.:0.000000   1st Qu.:0.000000   Class :character   1st Qu.:0.0000
 Median :0.000000   Median :0.000000   Mode  :character   Median :0.0000
 Mean   :0.004261   Mean   :0.008828                      Mean   :0.2288
 3rd Qu.:0.000000   3rd Qu.:0.000000                      3rd Qu.:0.0000
 Max.   :1.000000   Max.   :1.000000                      Max.   :1.0000
     Spring           Summer           Winter          Holiday
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.2552   Mean   :0.2608   Mean   :0.2552   Mean   :0.0482
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
   No Holiday           0                 1                 10
 Min.   :0.0000   Min.   :0.00000   Min.   :0.00000   Min.   :0.0000
 1st Qu.:1.0000   1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.0000
 Median :1.0000   Median :0.00000   Median :0.00000   Median :0.0000
 Mean   :0.9518   Mean   :0.04158   Mean   :0.04158   Mean   :0.0417
 3rd Qu.:1.0000   3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.00000   Max.   :1.00000   Max.   :1.0000
       11               12               13               14
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.0417   Mean   :0.0417   Mean   :0.0417   Mean   :0.0417
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
       15               16               17               18
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.0417   Mean   :0.0417   Mean   :0.0417   Mean   :0.0417
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
       19               2                 20               21
 Min.   :0.0000   Min.   :0.00000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.00000   Median :0.0000   Median :0.0000
 Mean   :0.0417   Mean   :0.04158   Mean   :0.0417   Mean   :0.0417
 3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.00000   Max.   :1.0000   Max.   :1.0000
       22               23               3                 4
 Min.   :0.0000   Min.   :0.0000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.0000   Median :0.0000   Median :0.00000   Median :0.00000
 Mean   :0.0417   Mean   :0.0417   Mean   :0.04158   Mean   :0.04158
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.00000   Max.   :1.00000
       5                 6                 7                8
 Min.   :0.00000   Min.   :0.00000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.00000   Median :0.00000   Median :0.0000   Median :0.0000
 Mean   :0.04158   Mean   :0.04158   Mean   :0.0417   Mean   :0.0417
 3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.00000   Max.   :1.00000   Max.   :1.0000   Max.   :1.0000
       9
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.0417
 3rd Qu.:0.0000
 Max.   :1.0000

In [128]:
write_csv(normalized_dummy, "seoul_bike_sharing_converted_normalized.csv")

In [129]:
dataset_list <- c('seoul_bike_sharing.csv', 'seoul_bike_sharing_converted.csv', 'seoul_bike_sharing_converted_normalized.csv')

#convert all collumn names in all the dataset list into uppercase again
for (dataset_name in dataset_list){
    dataset <- read_csv(dataset_name)
    names(dataset) <- toupper(names(dataset))
    #names(dataset) <- str_replace_all(names(dataset), " ", "_")
    # Save the dataset back
    write.csv(dataset, dataset_name, row.names=FALSE)
    }

Rows: 8760 Columns: 14
-- Column specification --------------------------------------------------------
Delimiter: ","
chr  (4): DATE, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBI...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 8465 Columns: 41
-- Column specification --------------------------------------------------------
Delimiter: ","
chr   (1): FUNCTIONING_DAY
dbl  (39): RENTED_BIKE_COUNT, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY,...
date  (1): DATE

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 8465 Columns: 41
-- Column specification --------------------------------------------------------
Delimiter: ","
chr   (1): FUNCTIONING_DAY
dbl  (39): RENTED_BIKE_COUNT, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY,...
date  (1): DATE

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.